<% provide(title: taxon.name) %>
<div class="row">
  <%= products.each do |product| %>
    <div class="col-sm-4 col-xs-12">
      <div class="productBox">
        <div class="productImage clearfix">
          <%= image_tag product.images.first.attachment.url(:small) %>
        </div>
        <div class="productCaption clearfix">
          <%= link_to potepan_product_path(product.id) do %>
            <h5><%= product.name %></h5>
          <% end %>
          <h3><%= product.default_price %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
