<% provide(:title, @taxon.name) %>
<%= render 'light_section_page_header', page_title: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'left_sidebar', categories: @categories, colors: @colors, sizes: @sizes, taxon: @taxon %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <div class="col-xs-6">
            <%= render 'sort_dropdown_list' %>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default active" onclick="window.location.href='product_grid_left_sidebar.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
              <button type="button" class="btn btn-default" onclick="window.location.href='product_list_left_sidebar.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
            </div>
          </div>
        </div>
        <div id="productsList">
          <% if @variants %>
            <%= render 'variants_list', variants: @variants %>
          <% else %>
            <%= render 'products_list', products: @products %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
