<% provide(:title, "Home") %>
<!-- BANNER -->
<div class="bannercontainer">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>
        <li>
          <%= image_tag("home/banner-slider/top_slider.jpg", :alt => "slidebg1", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row featuredCollection">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>人気カテゴリー</h4>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail" onclick="location.href='single_product.html';">
          <div class="imageWrapper">
            <%= image_tag("home/featured-collection/suits.jpg", :alt => "feature-collection-image") %>
            <div class="masking">
              <%= link_to potepan_category_path(11), class: "btn viewBtn" do %>View Suits<% end %>
            </div>
          </div>
          <div class="caption">
            <h4>Suits</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail" onclick="location.href='single_product.html';">
          <div class="imageWrapper">
            <%= image_tag("home/featured-collection/shoes.jpg", :alt => "feature-collection-image") %>
            <div class="masking">
              <%= link_to potepan_category_path(13), class: "btn viewBtn" do %>View Shoes<% end %>
            </div>
          </div>
          <div class="caption">
            <h4>Shoes</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail" onclick="location.href='single_product.html';">
          <div class="imageWrapper">
            <%= image_tag("home/featured-collection/tie.jpg", :alt => "feature-collection-image") %>
            <div class="masking">">
              <%= link_to potepan_category_path(14), class: "btn viewBtn" do %>View Tie<% end %>
            </div>
          </div>
          <div class="caption">
            <h4>Tie</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row featuredProducts">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>新着商品</h4>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="owl-carousel featuredProductsSlider">
          <% @new_products.each do |product| %>
            <div class="slide">
              <%= link_to potepan_product_path(product.id) do %>
                <div class="productImage clearfix">
                  <%= image_tag product.display_image.attachment.url, alt: product.name %>
                </div>
                <div class="productCaption clearfix">
                  <h5><%= product.name %></h5>
                  <h3><%= product.display_price %></h3>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'product_quick_view_modal' %>
